.main{
    background-color: #fff;
    border-radius: 5px;
    width: 670px;
    box-shadow: 2px 2px 5px #555;
    padding: 25px 35px;
    font-size: 18px;
    margin-top: 110px;
    margin-bottom: 25px;
}
.main h2{
    margin-bottom: 25px;
    text-align: center;
}
.main p{
    margin: 30px 10px;
}
.main .button{
    border: 1px solid #000;
    border-radius: 3px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    opacity: 0.7;
    margin: 0 5px;
    transition: opacity .15s;
}
.main .button:hover{
    opacity: 1;
}
.main .info{
    margin-top: 12px;
    background-color: #e8e8e8;
    border-radius: 3px;
    padding: 30px 10px;
    border: 1px solid #bbb;
    text-align: center;
}
.main .user-content{
    width: 100%;
    padding-top: 8px;
}
.main .user-content-item{
    width: 33.33333%;
    height: auto;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}
.main .user-content-item .user-content-img{
    background-size: cover;
    background-position: center center;
    transition: .15s border-color;
    border: 2px solid #eee;
    max-width: 100%;
    height: 200px;
}
.main .user-content-item .user-content-img:hover{
    border-color: #7EA6F4;
}
.pages{
    margin-top: -1px;
    float: left;
}
.pages a{
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #bbb;
    color: #333;
    display: inline-block;
    padding: 15px;
    border-left:none;
}
.pages a:first-child{
    border-left:1px solid #bbb;
}
.pages a:hover{
    background-color: #cad9f7;
}
.pages .current{
    background-color: #afc7f7;
}
@media screen and (max-width: 820px){
    .main{
        width: 600px;
    }
    .main .user-content-item .user-content-img{
        height: 170px;
    }
    .main .user-content-item{
        padding: 8px;
    }
}
@media screen and (max-width: 720px){
    .main{
        width: 420px;
        padding:25px 20px;
        font-size: 16px;
    }
    .main .button{
        margin: 4px 2px;
        padding: 10px;
    }
    .main .user-content-item .user-content-img{
        height: 130px;
    }
    .main .user-content-item{
        padding: 6px;
    }
}
@media screen and (max-width: 540px){
    .main{
        width: 320px;
    }
    .main .button{
        width: 285px;
        padding: 15px;
    }
    .main p{
        margin: 20px 10px;
    }
    .main .user-content-item .user-content-img{
        height: 90px;
    }
    .main .user-content-item{
        padding: 4px;
    }
}
@media screen and (max-width: 420px){
    .main{
        width: 80%;
        padding: 20px 15px;
    }
    .main h2{
        margin-bottom: 15px;
        font-size: 22px;
    }
    .main .button{
        box-sizing: border-box;
        width: 97%;
        padding: 10px;
        margin: 5px;
        font-size: 16px;
    }
    .main p{
        margin-top: 5px;
        font-size: 16px;
    }
    .main .user-content-item .user-content-img{
        height: 80px;
    }
    .main .user-content-item{
        padding: 2px;
    }
}